# Pandas

The `numpy` module is excellent for numerical computations, but to handle missing data or arrays with mixed types takes more work. The `pandas` module is currently the most widely used tool for data manipulation, providing high-performance, easy-to-use data structures and advanced data analysis tools.

In particular `pandas` features:

* A fast and efficient "DataFrame" object for data manipulation with integrated indexing;
* Tools for reading and writing data between in-memory data structures and different formats (CSV, Excel, SQL, HDF5);
* Intelligent data alignment and integrated handling of missing data;
* Intelligent label-based slicing, fancy indexing, and subsetting of large data sets;
* Aggregating or transforming data with a powerful "group-by" engine; 
* High performance merging and joining of data sets;
* Hierarchical axis indexing provides an intuitive way of working with high-dimensional data in a lower-dimensional data structure;
* Time series-functionalities;
* Highly optimized for performance, with critical code paths written in Cython or C.

In [1]:
import pandas as pd
import numpy as np

## Series

Series are completely equivalent to 1D array but with axis labels and the possibility to store heterogeneous elements. Of paramount importance are the time-series, used to define time evolutions of a phenomenon.

They come before the dataframe. It can be seen as a table. On the top the features of the variables labelled and also rows can be labelled. A single coloumns can be seen as a series. It's a generalization of numpy array, in the sense they do have an index, we can actually also label the index (for example time). Series form the data frame.
They are similar to a dictionary!! we can access to the value of a dic with square brackets giving them the "keys"

In [5]:
from string import ascii_lowercase as letters

# Creating a series, accessing indexes, values and values by their index 
xs = pd.Series(np.arange(10)*0.5, index=tuple(letters[:10]))
print ("xs:",xs,'\n')
print ("xs indexes:",xs.index,'\n')
# Values of the Series are actually a numpy array
print ("xs values:", xs.values, type(xs.values),'\n')
print (xs['f'], xs.f, xs.h, '\n')
print (xs[['d', 'f', 'h']], '\n')
print (type(xs[['d', 'f', 'h']]), '\n')

xs: a    0.0
b    0.5
c    1.0
d    1.5
e    2.0
f    2.5
g    3.0
h    3.5
i    4.0
j    4.5
dtype: float64

xs indexes: Index(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'], dtype='object')

xs values: [0.  0.5 1.  1.5 2.  2.5 3.  3.5 4.  4.5] <class 'numpy.ndarray'>

2.5 2.5 3.5

d    1.5
f    2.5
h    3.5
dtype: float64

<class 'pandas.core.series.Series'>

In [7]:
# Extracting elements and operations: same as numpy array but we can actually have whatever we want in a series not only numbers
print (xs[:3],'\n')
print (xs[7:], '\n')
print (xs[::3], '\n')
print (xs[xs>3], '\n') # masks
print (np.exp(xs), '\n') # operations element wise for numbers 
print (np.mean(xs), np.std(xs), '\n')

a    0.0
b    0.5
c    1.0
dtype: float64

h    3.5
i    4.0
j    4.5
dtype: float64

a    0.0
d    1.5
g    3.0
j    4.5
dtype: float64

h    3.5
i    4.0
j    4.5
dtype: float64

a     1.000000
b     1.648721
c     2.718282
d     4.481689
e     7.389056
f    12.182494
g    20.085537
h    33.115452
i    54.598150
j    90.017131
dtype: float64

2.25 1.4361406616345072

In [8]:
# Series can be created from python dictionary too.
# here the key is called index 
# Notice that the elements can be whatever! (integers, string and a list)
d = {'b' : 1, 'a' : 'cat', 'c' : [2,3]}
pd.Series(d)

b         1
a       cat
c    [2, 3]
dtype: object

A key difference between Series and ndarray is that operations between Series automatically align the data based on label. Thus, you can write computations without considering whether the Series involved have the same labels.

In [9]:
s = pd.Series(np.random.randn(5), index=tuple(letters[:5]))
print(s)
s = s[1:] + s[:-1]
print(s)

a    0.427839
b    0.280079
c   -0.472928
d   -0.405342
e   -1.616525
dtype: float64
a         NaN
b    0.560158
c   -0.945857
d   -0.810683
e         NaN
dtype: float64

### Time series

Time series are very often used to profile the behaviour of a quantity as a function of time. Pandas as a special index for that, `DatetimeIndex`, that can be created e.g. with the function `pd.data_range()`

In [10]:
# to define a date, the datetime module is very useful
import datetime as dt
date = dt.date.today()
print(date)

date = dt.datetime(2020,11,9,14,45,10,15)
print (date)

# otherwise, several notations are interpreted too
date = 'Nov 9 2020'
# or alternatively
date = '9/11/2020 14:45:00'
print (date)

days = pd.date_range(date, periods=7, freq='D')
print (days)

seconds = pd.date_range(date, periods=3600, freq='s')
print (seconds)

2020-11-09
2020-11-09 14:45:10.000015
9/11/2020 14:45:00
DatetimeIndex(['2020-09-11 14:45:00', '2020-09-12 14:45:00',
               '2020-09-13 14:45:00', '2020-09-14 14:45:00',
               '2020-09-15 14:45:00', '2020-09-16 14:45:00',
               '2020-09-17 14:45:00'],
              dtype='datetime64[ns]', freq='D')
DatetimeIndex(['2020-09-11 14:45:00', '2020-09-11 14:45:01',
               '2020-09-11 14:45:02', '2020-09-11 14:45:03',
               '2020-09-11 14:45:04', '2020-09-11 14:45:05',
               '2020-09-11 14:45:06', '2020-09-11 14:45:07',
               '2020-09-11 14:45:08', '2020-09-11 14:45:09',
               ...
               '2020-09-11 15:44:50', '2020-09-11 15:44:51',
               '2020-09-11 15:44:52', '2020-09-11 15:44:53',
               '2020-09-11 15:44:54', '2020-09-11 15:44:55',
               '2020-09-11 15:44:56', '2020-09-11 15:44:57',
               '2020-09-11 15:44:58', '2020-09-11 15:44:59'],
              dtype='datetime64[ns]', length=3600, freq='S')

To learn more about the frequency strings, please see this [link](http://pandas.pydata.org/pandas-docs/stable/timeseries.html#offset-aliases)


Timestamped data is the most basic type of time series data that associates values with points in time. For pandas objects it means using the points in time.

functions like `pd.to_datetime` can be used, for instance, when reading information as string from a dataset

In [11]:
tstamp = pd.Timestamp(dt.datetime(2020, 11, 9))

# internally it counts the nanoseconds from January 1st 19
#tstamp = pd.Timestamp(dt.datetime(1970, 1, 1, 0, 0, 0, 1))
print(tstamp.value)

# when creating a timestamp the format can be explicitly passed
ts = pd.to_datetime('2010/11/12', format='%Y/%m/%d')
print (type(ts))
print (ts)
ts = pd.to_datetime('12-11-2010 00:00', format='%d-%m-%Y %H:%M')
print (ts)
print (ts.value)

1604880000000000000
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2010-11-12 00:00:00
2010-11-12 00:00:00
1289520000000000000

A standard series can be created and (range of) elements can be used as indexes

In [ ]:
tseries = pd.Series(np.random.normal(10, 1, len(days)), index=days)
# Extracting elements
print (tseries[0:4], '\n')
print (tseries['2020-11-9':'2020-11-11'], '\n') # Note - includes end time

`pd.to_datetime` can also be used to create a `DatetimeIndex`:

In [ ]:
pd.to_datetime([1, 2, 3, 4], unit='D', origin=pd.Timestamp('1980-02-03'))

## DataFrame

A pandas DataFrame is like a simple tabular spreadsheet. For future reference (or for people already familiar with R), a pandas DataFrame is very similar to the R DataFrame.

Each column in a DataFrame is a Series object.

The element can be whatever, missing data are dealt with too (as NaN)

### DataFrame creation

A DataFrame can be created implicitly, with, e.g., a DatatimeIndex object as index:

Indexes can be in machine learning talking about binary classification labels, outputs of our data samples

In [19]:
entries=10
dates=pd.date_range('11/9/2020 14:45:00',freq='h', periods=entries)
df = pd.DataFrame(np.random.randn(entries,4), index=dates, columns=['A','B','C','D'])
display(df) # is the way displaying a data frame in pandas

                            A         B         C         D
2020-11-09 14:45:00 -1.395375  1.096395 -1.674751 -1.001985
2020-11-09 15:45:00  0.394478  0.185709  0.920188  0.419087
2020-11-09 16:45:00 -0.534601  0.842007  0.295165  1.354213
2020-11-09 17:45:00 -0.563931 -0.061759 -1.246896 -1.226419
2020-11-09 18:45:00  0.159912 -0.916528 -1.193606 -0.375001
2020-11-09 19:45:00  0.441479  0.695712 -2.895826  0.388445
2020-11-09 20:45:00 -0.409839 -0.816105  0.961186  0.029041
2020-11-09 21:45:00  0.599004  0.499768  0.678239  0.193979
2020-11-09 22:45:00 -0.557293  1.074672  2.011264  1.106672
2020-11-09 23:45:00  0.731060 -0.626611 -0.729961  0.667825

or by means of a dictionary:

In [ ]:
df2 = pd.DataFrame(
    { 'A' : 1.,
      'B' : pd.Timestamp('20130102'),
      'C' : pd.Series(1,index=range(4),dtype='float32'),
      'D' : np.arange(7,11),
      'E' : pd.Categorical(["test","train","test","train"]),
    }
    )
df2

### Viewing Data

In [ ]:
df.head()

In [ ]:
df.tail(4)

In [ ]:
df.index

In [ ]:
df.columns

In [ ]:
df.values

In [ ]:
df.describe()

In [ ]:
df.T

In [21]:
df.sort_index(axis=1,ascending=False)

                            D         C         B         A
2020-11-09 14:45:00 -1.001985 -1.674751  1.096395 -1.395375
2020-11-09 15:45:00  0.419087  0.920188  0.185709  0.394478
2020-11-09 16:45:00  1.354213  0.295165  0.842007 -0.534601
2020-11-09 17:45:00 -1.226419 -1.246896 -0.061759 -0.563931
2020-11-09 18:45:00 -0.375001 -1.193606 -0.916528  0.159912
2020-11-09 19:45:00  0.388445 -2.895826  0.695712  0.441479
2020-11-09 20:45:00  0.029041  0.961186 -0.816105 -0.409839
2020-11-09 21:45:00  0.193979  0.678239  0.499768  0.599004
2020-11-09 22:45:00  1.106672  2.011264  1.074672 -0.557293
2020-11-09 23:45:00  0.667825 -0.729961 -0.626611  0.731060

In [20]:
df.sort_values(by="C") 
# it allows to sort all the others serieses accordingly to the coloumn chosen

                            A         B         C         D
2020-11-09 19:45:00  0.441479  0.695712 -2.895826  0.388445
2020-11-09 14:45:00 -1.395375  1.096395 -1.674751 -1.001985
2020-11-09 17:45:00 -0.563931 -0.061759 -1.246896 -1.226419
2020-11-09 18:45:00  0.159912 -0.916528 -1.193606 -0.375001
2020-11-09 23:45:00  0.731060 -0.626611 -0.729961  0.667825
2020-11-09 16:45:00 -0.534601  0.842007  0.295165  1.354213
2020-11-09 21:45:00  0.599004  0.499768  0.678239  0.193979
2020-11-09 15:45:00  0.394478  0.185709  0.920188  0.419087
2020-11-09 20:45:00 -0.409839 -0.816105  0.961186  0.029041
2020-11-09 22:45:00 -0.557293  1.074672  2.011264  1.106672

## Selection

### Getting slices

The following show how to get part of the DataFrame (i.e. not just the elements), entire coloumns for examples and their labels and so on

In [46]:
## standard and safe
print(df['A'],"\n")
# the collections of values for the label/index 'A'
# or knowing where A label is we can write 
print(df.iloc[:,0])
## equivalent but dangerous (imagine blank spaces in the name of the column..)
print (df.A)

2020-11-09 14:45:00   -1.395375
2020-11-09 15:45:00    0.394478
2020-11-09 16:45:00   -0.534601
2020-11-09 17:45:00   -0.563931
2020-11-09 18:45:00    0.159912
2020-11-09 19:45:00    0.441479
2020-11-09 20:45:00   -0.409839
2020-11-09 21:45:00    0.599004
2020-11-09 22:45:00   -0.557293
2020-11-09 23:45:00    0.731060
Freq: H, Name: A, dtype: float64

2020-11-09 14:45:00   -1.395375
2020-11-09 15:45:00    0.394478
2020-11-09 16:45:00   -0.534601
2020-11-09 17:45:00   -0.563931
2020-11-09 18:45:00    0.159912
2020-11-09 19:45:00    0.441479
2020-11-09 20:45:00   -0.409839
2020-11-09 21:45:00    0.599004
2020-11-09 22:45:00   -0.557293
2020-11-09 23:45:00    0.731060
Freq: H, Name: A, dtype: float64
2020-11-09 14:45:00   -1.395375
2020-11-09 15:45:00    0.394478
2020-11-09 16:45:00   -0.534601
2020-11-09 17:45:00   -0.563931
2020-11-09 18:45:00    0.159912
2020-11-09 19:45:00    0.441479
2020-11-09 20:45:00   -0.409839
2020-11-09 21:45:00    0.599004
2020-11-09 22:45:00   -0.557293
2020-11-09 23:45:00    0.731060
Freq: H, Name: A, dtype: float64

In [33]:
# selecting rows by counting
display(df[0:3])

# or by index
display(df["2020-11-09 14:45:00":"2020-11-09 16:45:00"])

                            A         B         C         D
2020-11-09 14:45:00 -1.395375  1.096395 -1.674751 -1.001985
2020-11-09 15:45:00  0.394478  0.185709  0.920188  0.419087
2020-11-09 16:45:00 -0.534601  0.842007  0.295165  1.354213

                            A         B         C         D
2020-11-09 14:45:00 -1.395375  1.096395 -1.674751 -1.001985
2020-11-09 15:45:00  0.394478  0.185709  0.920188  0.419087
2020-11-09 16:45:00 -0.534601  0.842007  0.295165  1.354213

### Selection by label

Loc method gives copies, remember when we're trying to change a data frame through a mask for example. iloc returns views

In [42]:
# getting a cross section (part of the DataFrame) using a label
df.loc[dates[0]]

A   -1.395375
B    1.096395
C   -1.674751
D   -1.001985
Name: 2020-11-09 14:45:00, dtype: float64

In [36]:
# selecting on a multi-axis by label:
df.loc[:,['A','B']]

                            A         B
2020-11-09 14:45:00 -1.395375  1.096395
2020-11-09 15:45:00  0.394478  0.185709
2020-11-09 16:45:00 -0.534601  0.842007
2020-11-09 17:45:00 -0.563931 -0.061759
2020-11-09 18:45:00  0.159912 -0.916528
2020-11-09 19:45:00  0.441479  0.695712
2020-11-09 20:45:00 -0.409839 -0.816105
2020-11-09 21:45:00  0.599004  0.499768
2020-11-09 22:45:00 -0.557293  1.074672
2020-11-09 23:45:00  0.731060 -0.626611

In [ ]:
# showing label slicing, both endpoints are included:
df.loc['2020-11-09 18:45:00':'2020-11-09 20:45:00',['A','B']]

In [ ]:
# getting an individual element
print (df.loc[dates[1],'A'])

# equivalently
print (df.at[dates[1],'A'])

### Selecting by position

In [ ]:
# select via the position of the passed integers:
print (df.iloc[3],'\n')

# notation similar to numpy/python
print (df.iloc[3:5,0:2])

In [ ]:
# selecting raws 1,2 and 4 for columns 0 and 2
df.iloc[[1,2,4],[0,2]]

In [ ]:
# slicing rows explicitly
print (df.iloc[1:3,:],'\n')

# slicing columns explicitly
print (df.iloc[:,1:3])

In [ ]:
# selecting an individual element by position
df.iloc[1,1]
df.iat[1,1]

### Boolean index

Very powerful way of filtering out data with certain features. Notation is very similar to numpy arrays.

In [47]:
# Filter by a boolean condition on the values of a single column
df[df['B'] > 0]
# getting rid of the false entries

                            A         B         C         D
2020-11-09 14:45:00 -1.395375  1.096395 -1.674751 -1.001985
2020-11-09 15:45:00  0.394478  0.185709  0.920188  0.419087
2020-11-09 16:45:00 -0.534601  0.842007  0.295165  1.354213
2020-11-09 19:45:00  0.441479  0.695712 -2.895826  0.388445
2020-11-09 21:45:00  0.599004  0.499768  0.678239  0.193979
2020-11-09 22:45:00 -0.557293  1.074672  2.011264  1.106672

In [48]:
# Selecting on the basis of boolean conditions applied to the whole DataFrame
df[df>0]

# a DataFrame with the same shape is returned, with NaN's where condition is not met

                            A         B         C         D
2020-11-09 14:45:00       NaN  1.096395       NaN       NaN
2020-11-09 15:45:00  0.394478  0.185709  0.920188  0.419087
2020-11-09 16:45:00       NaN  0.842007  0.295165  1.354213
2020-11-09 17:45:00       NaN       NaN       NaN       NaN
2020-11-09 18:45:00  0.159912       NaN       NaN       NaN
2020-11-09 19:45:00  0.441479  0.695712       NaN  0.388445
2020-11-09 20:45:00       NaN       NaN  0.961186  0.029041
2020-11-09 21:45:00  0.599004  0.499768  0.678239  0.193979
2020-11-09 22:45:00       NaN  1.074672  2.011264  1.106672
2020-11-09 23:45:00  0.731060       NaN       NaN  0.667825

### Setting

Combination of selection and setting of values

In [ ]:
# setting values by label (same as by position)
df.at[dates[0],'A'] = 0

# setting and assigning a numpy array
df.loc[:,'D'] = np.array([5] * len(df))

# defining a brend new column
df['E'] = np.arange(len(df))*0.5

# defining a brend new column by means of a pd.Series: indexes must be the same!
df['E prime'] = pd.Series(np.arange(len(df))*2, index=df.index)

In [ ]:
def dcos(theta):
    theta = theta*(np.pi/180)
    return np.cos(theta)
 
df['cosine'] = pd.Series(df["E"].apply(dcos), index=df.index)
df

In [ ]:
# another example of global setting
df2=df.copy() # it's possbile that in pandas using equal means always creating a copy
df2[df2>0] = -df2
df2

### Dropping

N.B.: dropping doesn't act permanently on the DataFrame, i.e. to get that do :
```python
df = df.drop(....)
```

In [ ]:
# Dropping by column
df.drop(['E prime'], axis=1)

#which is equivalent to
df.drop(columns=['E prime'])

In [ ]:
# Dropping by raws
# safe and always working
df.drop(df.index[[1,2,3,4]])

In [ ]:
# something like df.drop('index_name') 
# would work but the type of index must be specificed, 
# in particular with DatetimeIndex
df.drop(pd.to_datetime("2020-11-09 22:45:00"))

## Missing data

pandas primarily uses the value np.nan to represent missing data. It is by default not included in computations.

In [ ]:
df_wNan = df[df>0]
df_wNan

In [ ]:
# dropping raws with at least a Nan
df_wNan.dropna(how='any')

In [ ]:
# getting a mask
df_wNan.isna()
#df_wNan.notna()

In [ ]:
# filling missing data
df_wNan.fillna(value=0)

Fill gaps forward or backward by propagating non-NA values forward or backward:

In [ ]:
df_wNan.fillna(method='pad')

## Operations

Here comes the most relevant advantage of DataFrame. Operations on columns are extremly fast, almost as fast as the actual operation between elements in a raw

In [ ]:
# Some statistics (mean() just as an example)
# raws
print (df.mean(axis=0),'\n')
# columns
print (df.mean(axis=1),'\n')

In [ ]:
# global operations on columns
df.apply(np.cumsum)

In [ ]:
df

In [ ]:
df.apply(lambda x: x.max() - x.min())

In [ ]:
# syntax is as usual similar to that of numpy arrays
df['A']+df['B']

Let's play it hard and load (in memory) a (relatively) large dataset

In [ ]:
# WARNING! link in past notebook was wrong!, (if needed) get the right file from:
#!wget https://www.dropbox.com/s/xvjzaxzz3ysphme/data_000637.txt -P ~/data/

file_name="~/data/data_000637.txt"
data=pd.read_csv(file_name)
data

Let's now do some operations among (elements of) columns

In [ ]:
# the one-liner killing it all
data['timens']=data['TDC_MEAS']*25/30+data['BX_COUNTER']*25

In [ ]:
# the old slooow way
def conversion(data):
    result=[]
    for i in range(len(data)): 
        result.append(data.loc[data.index[i],'TDC_MEAS']*25/30.+data.loc[data.index[i],'BX_COUNTER']*25)
    return result

data['timens']=conversion(data)

## Merge

pandas provides various facilities for easily combining together Series, DataFrame, and Panel objects with various kinds of set logic for the indexes and relational algebra functionality in the case of join / merge-type operations.

### Concat

concatenation (adding rows) is straightforward

In [ ]:
rdf = pd.DataFrame(np.random.randn(10, 4))
rdf

In [ ]:
# divide it into pieaces raw-wise
pieces = [rdf[:3], rdf[3:7], rdf[7:]]
pieces

In [ ]:
# put it back together
#pd.concat(pieces)

# indexes can be ignored
pd.concat(pieces, ignore_index=True)

# in case of dimension mismatch, Nan are added where needed

In [ ]:
# appending a single row (as a Series)
s = rdf.iloc[3]
rdf.append(s, ignore_index=True)
rdf

### Merge/Join

SQL like operations on table can be performed on DataFrames. This is all rather sophisticated, refer to the [doc](https://pandas.pydata.org/pandas-docs/stable/merging.html#merging) for more info/examples

In [ ]:
left = pd.DataFrame({'key': ['foo', 'bar'], 'lval': [1, 2]})
right = pd.DataFrame({'key': ['foo', 'bar'], 'rval': [4, 5]})

pd.merge(left,right,on="key")

## Grouping

By group by we are referring to a process involving one or more of the following steps:

* Splitting the data into groups based on some criteria
* Applying a function to each group independently
* Combining the results into a data structure

In [ ]:
gdf = pd.DataFrame({'A' : ['foo', 'bar', 'foo', 'bar',
                          'foo', 'bar', 'foo', 'foo'],
                    'B' : ['one', 'one', 'two', 'three',
                           'two', 'two', 'one', 'three'],
                    'C' : np.random.randn(8),
                    'D' : np.random.randn(8)})
gdf

In [ ]:
# Grouping and then applying the sum() 
# function to the resulting groups (effective only where number are there).
gdf.groupby('A').sum()

## Multi-indexing


Hierarchical / Multi-level indexing allows sophisticated data analysis on higher dimensional data. In essence, it enables you to store and manipulate data with an arbitrary number of dimensions in lower dimensional data structures like Series (1d) and DataFrame (2d).

In [ ]:
tuples = list(zip(['bar', 'bar', 'baz', 'baz', 'foo', 'foo', 'qux', 'qux'],
          ['one', 'two', 'one', 'two', 'one', 'two', 'one', 'two']))
multi_index = pd.MultiIndex.from_tuples(tuples, names=['first', 'second'])
print (multi_index,'\n')

s = pd.Series(np.random.randn(8), index=multi_index)
print (s)

In [ ]:
# it enables further features of the groupby method,
# e.g. when group-by by multiple columns
gdf.groupby(['A','B']).sum()

In [ ]:
# stack() method compresses a level in the DataFrames columns
gdf.groupby(['A','B']).sum().stack()

## Plotting

Just a preview, more on the next lab class!

In [ ]:
ts = pd.Series(np.random.randn(1000), index=pd.date_range('1/1/2000', periods=1000))
ts.cumsum().plot()

In [ ]:
import matplotlib.pyplot as plt

pdf=pd.DataFrame(np.random.randn(1000, 4), index=ts.index,columns=['A', 'B', 'C', 'D'])
df = df.cumsum()
plt.figure(); df.plot(); plt.legend(loc='best')